
.displayScreen{   
    width: 325px;
    font-size: 18pt !important;
    font-weight:bold !important;
    color:black !important;
    text-align:right !important; 
}


#topSet{
    padding-top: 5%;
}

#answer{
    border:none;
    background:none;
   
    margin-bottom: 10px;
}
.pane{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 15px;
    background-color: rgba(164, 205, 202, 0.7);
    width:600px;
    text-align: center;
    max-width: 100%;
    height: auto;
}

#clearBtn{
    width:160px;
}

.btn-primary{
    padding-top: 15px;
    margin-bottom: 5px !important;
    background-color: rgba(190, 250, 160, 0.8) !important;
    border-width: 3px;
    border-color: black !important;
    size: 25px !important;   
    color: rgb(78, 78, 78) !important;
}

.custom{
    width:78px;
    
}
